.policy-sidebar ul{
    list-style-type: none;
}

.Policy-background{
    background-color: #F4F4F4  ;
/* text-align: center; */
padding:10px;
}

.Policy-container{
/* display: flex; */
margin:10px;
padding:10px;
height: auto;
background-color: #fff;
}

.flex-col-1-4{
    width: 25%;
}

.flex-col-3-4{
    width: 75%;
}

.accordion *{
    background-color: #1866e4;
    color: #fff;
font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.accordion {
    border-radius: 30px;
    padding:10px;
}
.accordion:first-child .accordion-header {
    border-radius: 30px;
}

.accordion .accordion-button{
    font-weight: bolder;
}

.accordion-body{
    padding:0;
}
.policy-sidebar ul{
    padding:0;
}
.policy-sidebar li{
    padding:10px 0 10px 20px;
    width: 100%;
    background-color: #5e98f4;
    cursor: pointer;
}

.policy-read-item{
    background-color: #3B82F6
    !important;

}

.ThePolicy{
    background-color: #fff;
    border-radius: 20px;
    border: #c6c6c6 1px solid;
    margin-left:20px;
}

.ThePolicy .policy-header{
    text-transform: uppercase;
    font-weight: bold;
    text-align:center;
    padding:20px;
    font-size: 28px;
}

.ThePolicy .heading1{
    text-transform: uppercase;
    font-weight: bold;
    padding:10px;
    color:#307FE2;
}
.policy-content{
    margin:10px;
}
.policy-content li,p{
    padding:5px;
    margin:0;
}
